.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex: 1;
    flex-flow: row;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    width: 100%;
}

@media(max-width: 500px) { 
    .NavigationItems {
        margin-right: 1rem;
    }
}