.individualConcertMainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.individualConcertTitle {
    margin-top: 3rem;
}

.individualConcertDateInfo {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.individualConcertDateText {
    margin: 0 2rem;
    flex: 1;
}

.individualConcertImage {
    width: 30%;
    margin: 2rem;
}

.individualConcertInfo {
    display: flex;
    flex-direction: row;
    width: 80%;
    color: var(--accent-color);
    margin-bottom: 3rem;
}

.individualConcertProgram {
    flex: 1;
}

.individualConcertInfoTitle {
    margin: 3rem 0;
}   

.individualConcertExtraInfo {
    flex: 1;
}

.individualConcertInfoText {

}

.individualConcertDuration {
    align-self: flex-end;
    margin-right: 5rem;
    margin-top: 0;
}

.individualConcertMovements {
    margin: 1rem 0 1rem 8rem;
}

.individualConcertProgramInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0;
}

.individualConcertComposer {
    margin: 0;
    text-align: start;
}

.individualConcertPiece { 
    margin: 1rem;
}

.individualConcertButton {
    width: 8rem;
    height: 3rem;
    margin-top: 1rem;
}

@media(max-width: 1000px) {
    .individualConcertInfoTitle {
        font-size: 30px;
    }

    .individualConcertInfoText {
        font-size: 20px;
    }

    .individualConcertComposer {
        font-size: 25px;
    }

    .individualConcertMovements {
        font-size: 20px;
    }

    .individualConcertPiece {
        font-size: 20px;
    }

    .individualConcertDuration {
        font-size: 20px;
    }
}

@media(max-width: 850px) {
    .individualConcertInfo {
        flex-direction: column;
    }

    .individualConcertDuration {
        margin-right: 8rem;
    }

    .individualConcertImage {
        width: 50%;
    }
}