.screenMessageMainDiv {
    position: absolute;
    background-color: white;
    top: 40vh;
    left: 30vw;
    width: 40vw;
    height: fit-content;
    border: 1px solid #262626;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backdrop{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(3, 1, 1, 0.5);
    position: fixed;
    z-index: 100;
}

.screenMessageButton {
    width: 6rem;
    height: 3rem;
    margin: 2rem 0;
}

.error{
    color: red;
}

.screenMessageButtonDiv {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 90%;
    height: 8rem;
}

.screenMessageAnchor {
    font-size: x-large;
    text-decoration: underline;
    color: var(--accent-color);
    width: 3rem;
}

.success {
    color: green;
}